.bg-image {
 /* background-image: url("images/main_page_background.jpg"); */
  background-size: 100% 100%;
  background-position: center;
  padding: 20px 0;
}

@media (max-width: 768px) {
  .bg-image {
    height: 2000px;
    padding: 100px 0;
  }

}
.scroll-container {
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.page-padding {
  padding-bottom: 20px;
}

.mainLogo {
  width: 20px;
}

